.grid-container {
	height: 100%;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
}

.grid-header {
    grid-column: 1 / -1;
}

.grid-menu {
    grid-column: 1 / 2;
}

.grid-content {
    grid-column: 2 / -1;
}

.nested {
	display: grid;
	grid-template-columns: 6fr 6fr;
	grid-gap: 10px;
}

.nested .content-item {
	border: 1px solid #fff;
	padding: 10px;
	margin: 10px;
}

.grid-footer {
    grid-column: 1 / -1;
}