html, body {
  color: #333;
  font-family: sans-serif;
  text-align: center;
}

p {
  max-width: 640px;
}

img {
  width: 100%;
}

.my-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.my-grid div {
  background-color: #eee;
  padding: 10px;
}

.header {
  grid-column: 1 / -1;
}

.content {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.content .content-block {
  background-color: #ccc;
  padding: 10px;
  text-align: left;
}

.content .content-block:first-child {
  grid-column: 1 / -1;

  display: grid;
  grid-gap: 10px;

  grid-template-columns: repeat(2, 1fr);

  grid-template-areas: 
    "t i";

}

.content .content-block:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 4;
}

.content .content-block:last-child {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column: 2 / -1;
}

.content .content-block:first-child .content-block-text {
  grid-area: t;
  align-self: center;
  justify-self: center;
}

.content .content-block:first-child  .content-block-image {
  grid-area: i;
}

.sidebar {
  grid-column: 1 / -1;
}

.footer {
  grid-column: 1 / -1;
}