/*  IMPORTS  */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700');

/*  BASICS  */

* {
  box-sizing: border-box;
  transition-timing-function: ease-in;
  transition: .27s; 
}

html,
body {
  background-color: #fff;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  color: #333;
  line-height: 1.8em;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*  GRID  */

.container {
  display: grid;
  grid-gap: 0em;
  padding: 0;
  margin: 0;
  grid-template-columns: 1;
}

.container > * {
  padding: 1em;
}

.container > .logo {
  grid-column: 1 / -1;
}

.container > .main-nav {
  grid-column: 1 / -1;
}

.container > .content {
  grid-column: 1 / -1;
}

.container > .sidebar {
  grid-column: 1 / -1;
}

.container > .footer {
  grid-column: 1 / -1;
}

@media only screen and (min-width: 999px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .container > .logo {
    grid-column: 1 / 2;
  }

  .container > .main-nav {
    grid-column: 2 / -1;
  }

  .container > .content {
    grid-column: 1 / -1;
  }

  .container > .sidebar {
    grid-column: 1 / -1;
  }

  .container > .footer {
    grid-column: 1 / -1;
  }
}

/*  LOGO  */
.logo {
  background-color: #f7f7f7;
  align-self: center;
  text-align: center;
  height: 100%;
  padding-top: 1.6em;
  font-size: 1.5em;
}

.logo > a {
  text-decoration: none;
  border: 3px solid #333;
  padding: .5em;
  color: #333;
  font-weight: 700;
}

.logo > a:hover {
  color: #fff;
  background-color: #333;
}
/*  NAV  */

.main-nav {
  background-color: #f7f7f7;
}

.main-nav > ul {
  padding: 0 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36px, 1fr));
}

.main-nav > ul > li {
  font-weight: 700;
  list-style: none;
  align-self: center;
  justify-self: center;
}

.main-nav > ul > li > a{
  color: #333;
  text-decoration: none;
  padding: 0.5em 1em;
}

.main-nav > ul > li > a:hover {
  color: #fff;
  background-color: #333;
  transition-timing-function: ease-in;
  transition:.2s;
}

.search {
  grid-column: span 4;
  width: 320px;
}

.search form input {
  padding: 1em 0.5em;
  border: 0;
  background-color: #fff;
  width: 75%;
}

.search form button {
  padding: 1em 0;
  border: 0;
  width: 20%;
  background-color: #1abc9c; 
  color: #fff;
}

.search form button:hover{
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: .27s; 
  background-color: #16a085;
}

@media only screen and (max-width: 699px){
  .main-nav {}

  .main-nav > ul {
    padding: 0 1em;
  }
  .search {
    padding-top: 1em;
    grid-column: 1 / 5; `
    grid-row: 2;
  }
  
  .main-nav > ul > li {
    width: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
  }

  .main-nav > ul > li > a{
    color: #333;
    text-decoration: none;
    padding: 0.25em;
  }

  .search form input {
    width: 100%;
    margin-bottom: 1em;
  }

  .search form button {
    padding: 1em 0.5em;
    border: 0;
    width: 100%;
    background-color: #1abc9c; 
    color: #fff;
  }
}

/*  CONTENT  */

.content {
  justify-self: center;
  max-width: 720px;
  padding: 1em 2em;
  font-family: 'Noto Serif', serif;
}

.content > h1{
  font-size: 2.5em;
}

.content > h3{
  color: #a2a2a2;
  font-weight: 400;
}

.content > img {
  width: 100%;
}

@media only screen and (min-width: 839px){
  .content {
    font-size: 1.2em;
  }

  .content > img {
    width: 120%;
    margin-left: -10%; 
  }
}

/*  SIDEBAR  */

.sidebar {
  display: grid;
  background-color: #f7f7f7;
  grid-gap: 2em;
  padding: 2em;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.sidebar > * {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 839px){
  .sidebar > * {
    padding: 0 2em;
  }
}

.sidebar > ul {
  list-style: none;
}

.sidebar form input {
  padding: 1em;
  margin-bottom: 1em;
  border: 0;
  width: 100%;
}

.sidebar form button {
  padding: 1em 0.5em;
  margin-bottom: 1em;
  border: 0;
  width: 50%;
  background-color: #1abc9c; 
  color: #fff;
}

.sidebar form button:hover{
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: .27s; 
  background-color: #16a085;
}

/*  FOOTER  */

.footer {
  background-color: #eeeeee;
  padding: 1em 1em;
}

.footer > ul {
  padding: 0 1em;
}

.footer > ul > li {
  display: inline;
}

@media only screen and (min-width: 839px){
  .footer {
    padding: 1.5em 3em;
  }
}










