@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700');

html {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	line-height: 1.8em;
	border-top: 8px solid #FFC100;
}

body {
	padding: 0;
	margin: 0;
}

a {
	color: #00beff;
	text-decoration: none;

	transition-timing-function: ease-in;
	transition:.2s;
}

a:hover {
	color: #003eff;
	text-decoration: underline;
}

/* Grid */

.site {
	height: 100%; 
	display: grid;
	grid-gap: 8px;
	grid-template-columns: 1;
	padding: 1em 2em;
}

.site > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.site-header {
	grid-column: 1 / -1;
	padding: 1em 0;
}

.site-nav {
	grid-column: 1 / -1;
	background-color: #f2f2f2;
	width: 100%;
	max-width: 640px;
	justify-self: center;
}

.site-main {
	grid-column: 1 / -1;
}

.site-footer {
	grid-column: 1 / -1;
}

@media only screen and (min-width: 999px) {

	.site {
		height: 100%; 
		display: grid;
		grid-gap: 8px;
		grid-template-columns: 280px auto;
		grid-template-rows: 96px auto 96px;
	}

	.site-header {
		grid-column: 1 / 2;
		padding: 0;
	}

	.site-nav {
		grid-column: 1 / 2;
		background-color: #fff;
		align-self: flex-start;
	}

	.site-main {
		grid-column: 2 / -1;
		grid-row: 1 / -1; 
		margin: 0 1.5em;
	}

	.site-footer {
		grid-column: 1 / 2;
		justify-self: flex-start;
	}

	.site-main article {
		font-size: 1em;
		max-width: 640px;
		padding: 0 2em;
	}
}

/* Content */

.site-header > .logo {
	border: 6px solid black;
	padding: 0.40em;
	text-decoration: none;
	color: #000;
	font-size: 2em;
	font-weight: 700;
}

.site-header > .logo:hover {
	background-color: #000;
	color: #fff;
	transition-timing-function: ease-in;
	transition:.2s;
}

.site-nav {
	--border-bottom: 4px solid black;
}

.site-nav > ul {
	list-style: none;
	padding: 0 0 1em 0;
}

.site-nav > ul > li > a {
	color: #7f7f7f;
	text-decoration: none; 
}

.site-nav > ul > li > a:hover {
	text-decoration: underline;
	color: #000;
}

.site-main article {
	font-size: 1em;
	max-width: 640px;
	padding: 0;
}

.site-main article h1 {
	font-size: 2.5em;
}

.site-main article p {
}

.site-main article img {
	width: 100%;
}

.site-main > .gallery {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: 1;
	grid-auto-rows: 240px;
	grid-auto-flow: dense;
}

.site-main > .gallery > a > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.vertical {
	grid-row: span 2;
}

@media only screen and (min-width: 639px) {
	.site-main > .gallery {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		margin: 1em;
	}

	.vertical {
		grid-row: span 2;
	}

	.horizontal {
		grid-column: span 2;
	}

	.big {
		grid-column: span 2;
		grid-row: span 3;
	}
}

.social-media-icons-list{
	padding: 0;
}

.social-media-icons-list li{
	display: inline;
}

.social-media-icons-list li a img{
	margin: 0 6px;
	opacity: 0.5;
}

.social-media-icons-list li a img:hover{
	opacity: 1;
	transition-timing-function: ease-in;
	transition:.2s;
}